<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en" dir="ltr">
<head>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./assets/stars/css/main_imports.css">
</head>
<body>
  <!-- {% include "quiz/navbar.html" %} -->
  <section class="contactus-section my-0 mx-auto">
    <h4 class='bg-warning alert text-center' >მოგვწერეთ თქვენი აზრი</h4> <!-- title -->
    <form method="POST" autocomplete="off">
      <!-- Very Important csrf Token -->
      <!-- {% csrf_token %} -->
      <div class="form-group" >
        <div class="contactus-input-width my-0 mx-auto">
          <input value="სახელი" class="w-100 alert border shadow" type="text" class="form-control" >
          <input value="ელ.ფოსტა" class="w-100 alert border shadow mt-2" type="text" class="form-control">
          <textarea  class="w-100 mt-2 shadow" name="" id="" cols="30" rows="10" placeholder="შეტყობინება ..."></textarea>
          <!-- {{ form.as_p }} -->   <!-- input name& email --> 
          <button type="submit" class='btn btn-warning'>გაგზავნა</button>
        </div>
      </div>
    </form>
  </section>
  <!-- {% include "quiz/footer.html" %} -->
</body>
</html>
