<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="ka">

<head>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="სასკოლო ოლიმპიადა">
  <meta name="keywords" content="სასკოლო, საბავშვო, ტესტირება, სეტიფიკატები">
  <meta name="google" content="notranslate" />
  <title>Stars Geo</title>
  <link rel="shortcut icon" href="assets/images/title-logo.png" />
  <link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css">
<link rel="stylesheet" href="assets/stars/css/main_slider.css">
  <link rel="stylesheet" href="assets/stars/css/main_imports.css">
</head>

<body>
  <!-- {% include "quiz/navbar.html" %} -->
  <header>
    <nav class="navbar navbar-expand-md stars-bg-dark" style='font-family: "BPG Arial Caps", sans-serif;'>
      <div class="container-fluid">
        <a class="navbar-brand rounded " href="#"><img class="logo-hover" src="assets/images/stars.png"
            alt="Geo Stars Logo" style="width: 50px;"></a>
        <button class="navbar-toggler btn btn-warning" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars fs-1 text-light"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mb-2 mb-md-0 ms-auto">
            <li class="nav-item ">
              <a class="nav-link text-light active nav-links-hover" aria-current="page" href="/">მთავარი</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light nav-links-hover" href="/teacher/teacherclick">Teacher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light nav-links-hover" href="/student/studentclick">Student</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light nav-links-hover" href="/adminclick">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light nav-links-hover" href="/payment.html">გადახდა</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-nowrap nav-links-hover" href="/aboutus">ჩვენს შესახებ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light nav-links-hover" href="/contactus">კონტაქტი</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light bg-warning rounded nav-links-hover" href="/register_choice">პროფილი</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Slider-->
    <div id="slider">
      <div class="slide">
        <img src="assets/images/first-slider-img-ka.jpg">
      </div>

      <div class="slide">
        <img
          src="assets/images/first-slider-img-en.png">
      </div>

      <!--Controlling arrows-->
      <span class="controls" onclick="prevSlide(-1)" id="left-arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i>
      </span>
      <span class="controls" id="right-arrow" onclick="nextSlide(1)"><i class="fa fa-arrow-right"
          aria-hidden="true"></i>
      </span>
    </div>
    <div id="dots-con">
      <span class="dot"></span><span class="dot"></span>
    </div>
  </header>
  <div class="main_back">
    <section id="section-jumbotron" class="mb-0 jumbotron-fluid d-flex justify-content-center align-items-center">
      <div class="container text-center">
        
        <!-- <p class="display-4 d-sm-block ff-custom">დატესტე შენი უნარები და გახდი სტიპენდიანტი.</p> -->
        <!-- <p class="lead">ჩვენ ვატარებთ ტესტირებებს სხვადასხვა საგნებში.</p> -->



        <!-- <p class="lead">დარეგისტრირდი თუ არგაქვს ექაუნთი და მიიღე მონაწილება ტესტირებაში შენთვის სასურველ საგანზე .</p> -->
        <!-- <p><strong class="stars-color fs-5"> შენი წარმატება იწყება აქ !</strong></p> -->
        <h1 class="display-1 stars-color ff-custom"> შენი წარმატება იწყება აქ !</h1>
        <a href="/student/studentsignup" class="btn btn-lg btn-warning stars-btn-large ff-custom">
          რეგისტრაცია
        </a>

      </div>
    </section>
    <section class="news-cards-section mt-3 p-3">
      <div class="container">
        <div class="col-md-12 text-center ">
          <h4 class="news-title-fs text-bold my-3 text-card-custom-color ff-custom">სიახლეები</h4>
        </div>
        <div class="row">
          <div class="col-md-4 my-2">
            <div class="card card-register h-100 mb-4">
              <div class="card-header bg-light">
                <h5 class="card-title m-0 p-0 font-weight-bolder text-card-custom-color">რეგისტრაცია</h5>
              </div>
              <div class="card-body card-register text-left">
                <br>
              </div>
              <div class="card-footer text-end"><a href="#" class="btn btn-warning">რეგისტრაცია</a></div>
            </div>
          </div>

          <div class="col-md-4 my-2">
            <div class="card card-subjects h-100 mb-4">
              <div class="card-header bg-light">
                <h5 class="card-title m-0 p-0 font-weight-bolder text-card-custom-color text-nowrap">საგნები და განრიგი
                </h5>
              </div>
              <div class="card-body card-subjects text-left"><br>
              </div>
              <div class="card-footer text-end"><a href="#" class="btn btn-warning">სრულად</a></div>
            </div>
          </div>
          <div class="col-md-4 my-2 ">
            <div class="card h-100 mb-4 card-payment">
              <div class="card-header bg-light">
                <h5 class="card-title m-0 p-0 font-weight-bolder text-card-custom-color">გადახდა</h5>
              </div>
              <div class="card-body text-left"><br>
              </div>
              <div class="card-footer text-end"><a href="#" class="btn btn-warning">სრულად</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
















  <footer class="footer mt-auto py-3 stars-bg-footer-color">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center mt-2">
        <a class=" rounded" href="#"><img class="footer-logo" src="assets/images/stars.png" alt="Geo Stars Logo"></a>
      </div>
      <div class="wow fadeInUp text-light">
        <p class="text-center">Stars Georgia<br>
          Copyright &copy; Geo Stars 2020/2021 </p>
      </div>
      <div class="d-inline fs-4">
        <a class="me-1 stars-color"
          href="https://www.facebook.com/Stars-Georgia-%E1%83%A1%E1%83%A2%E1%83%90%E1%83%A0%E1%83%A1-%E1%83%A1%E1%83%90%E1%83%A5%E1%83%90%E1%83%A0%E1%83%97%E1%83%95%E1%83%94%E1%83%9A%E1%83%9D-101152965278663">
          <i class="text-fb text-dark fab fa-facebook-f logo-social fs-4 me-1"></i>
        </a>
        <a class="me-1 stars-color"
          href="https://www.instagram.com/stars.olympiad/?fbclid=IwAR1RK39K4h-jh00ezgVW7Ohvj11u0LSRd6Gg_nqcIjPqImCM4t3ZsZRZqPY">
          <i class="text-insta text-dark fab fa-instagram logo-social fs-4 me-1"></i>
        </a>
        <a href="" class="">
          <i class="text-you text-dark fab fa-youtube fs-4 logo-social"></i>
        </a>
      </div>
      <div>
        <ul class="d-flex justify-content-evenly list-unstyled">
          <li>
            <a href="" class="text-decoration-none  stars-color-2">
              ხშირად დასმული კითხვები
            </a>
          </li>
          <li>
            <a href="" class="text-decoration-none  stars-color-2">
              ჩვენს შესახებ
            </a>
          </li>
          <li>
            <a href="" class="text-decoration-none stars-color-2">
              კონტაქტი
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- {% include "quiz/footer.html" %} -->
  <script src="assets/stars/js/main_slider.js"></script>
  <script src="https://kit.fontawesome.com/753ea48368.js" crossorigin="anonymous"></script>
  <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
  
</body>

</html>