<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Geo Stars</title>





  <!-- Bootstrap core CSS -->
  <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- ფონტები -->
  <link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css">



</head>

<body>
  <!-- {% extends "base.html" %}
  {% load static %}
  {% block body %} -->

  <!-- <div class="container-md"> -->
  <nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top"
    style='font-family: "BPG Arial Caps", sans-serif;'>
    <div class="container-fluid">
      <a class="navbar-brand  bg-warning rounded" href="#"><img src="/assets/images/logo/stars.png" alt="Geo Stars Logo"
          style="width: 50px;"></a>
      <button class="navbar-toggler btn btn-warning" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mb-2 mb-md-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" href="/">მთავარი</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/teacher/teacherclick">Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/student/studentclick">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/adminclick">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/payment.html">გადახდა</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/aboutus">ჩვენს შესახებ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light " href="/contactus">კონტაქტი</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light bg-warning rounded" href="/register_choice">პროფილი</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- </div> -->

  <!-- {% endblock %} -->







  <script src="assets/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>