<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<!-- {% extends "base.html" %} -->
<!-- {% load static %} -->
<!-- {% block body %} -->
<!-- {% load widget_tweaks %} -->
<!-- {% include "quiz/navbar.html" %} -->

<div class="card login-form">
	<div class="card-body">
<!-- {% include 'messages.html' %} -->
		<h3 class="card-title text-center">Reset password</h3>
		<div class="card-text">
			<form action="{% url 'reset-password' %}"  method="POST">
                <!-- {% csrf_token %} -->
				<div class="form-group">
					<label for="exampleInputEmail1">შეიყვანეთ მობილურის ნომერი</label>
					<!-- {% render_field PhoneForm.phone|attr:'required:true' class="form-control form-control-sm" placeholder="მობილური:577999999" onkeypress="isInputNumber(event)" %} -->
					<!-- {{ PhoneForm.phone.error }} -->
				</div>
				<button type="submit" class="btn btn-primary btn-block">დროებითი პაროლის მიღება</button>
			</form>
		</div>
	</div>
</div>

<script>
	function isInputNumber(evt){
	  var ch = String.fromCharCode(evt.which);
	  if(!(/[0-9]/.test(ch))){
		evt.preventDefault();
		}
	}
  </script>

<!-- css style for rest_password  -->

<!-- {% include "quiz/footer.html" %} -->
<!-- {% endblock %} -->

</body>
</html>