<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Document</title>
	<link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css">
  <link rel="shortcut icon" href="assets/images/title-logo.png" />
  <link rel="stylesheet" href="assets/stars/css/main_imports.css">
</head>
<body>
	<!-- {% extends "base.html" %} -->
<!-- {% load static %} -->
<!-- {% block body %} -->
<!-- {% load widget_tweaks %} -->
<!-- {% include "quiz/navbar.html" %} -->

<div class="d-flex justify-content-center stars-bg-dark custom-height-res">
	<div class="card login-form w-50 h-50 stars-bg-orange custom-height-pass">
		<div class="card-body">
	<!-- {% include 'messages.html' %} -->
			<h5 class="card-title text-center mb-3">პაროლის აღდგენა</h5>
			<div class="card-text">
				<form action="{% url 'reset-password' %}"  method="POST">
					<!-- {% csrf_token %} -->
					<div class="form-group">
						<label for="exampleInputEmail1">შეიყვანეთ მობილურის ნომერი</label>
						<input type="number" placeholder="599999999" class="p-2">
						<!-- {% render_field PhoneForm.phone|attr:'required:true' class="form-control form-control-sm" placeholder="მობილური:577999999" onkeypress="isInputNumber(event)" %} -->
						<!-- {{ PhoneForm.phone.error }} -->
					</div>
					<button type="submit" class="btn btn-primary mt-2 ms-auto">დროებითი პაროლის მიღება</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function isInputNumber(evt){
	  var ch = String.fromCharCode(evt.which);
	  if(!(/[0-9]/.test(ch))){
		evt.preventDefault();
		}
	}
  </script>

<!-- css style for rest_password  -->

<!-- {% include "quiz/footer.html" %} -->
<!-- {% endblock %} -->

</body>
</html>