<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/title-logo.png" />
    <title>teacher profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stars/css/studentbase.css">
</head>

<body>
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between custom-width">
                <a class="navbar-brand" href="#">
                    <img class="logo-hover" src="assets/images/stars.png" alt="Geo Stars Logo" style="width: 50px;">
                </a>
            </div>
            <div class="btn-group">

                <button type="button" class="btn bg-dark-stars color-orange-stars dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    პროფილი
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark-stars stars-opa">
                    <button class="dropdown-item" type="button"><a class="color-orange-stars" href="/">
                            პარამეტრები
                        </a></button>
                    <button class="dropdown-item " type="button"><a class="color-orange-stars" href="/logout">
                            გამოსვლა</a></button>
                </div>
            </div>
        </div>
    </header>
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar">
        <div class="d-flex justify-content-end">
            <label for="check" class="">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
        </div>
        <div class="center-div">
            <img src="assets/images/profile-pic.png" class="profile_image" alt="profile-pic">
            <h4>
                <!-- {{request.user.first_name}} -->სახელი
            </h4>
            <h6 class="text-white">( Teacher )</h6>
        </div>

        <a href="/teacher/teacher-dashboard"><i class="fas fa-tachometer-alt"></i><span>მაგიდა</span></a>
        <a href="/teacher/teacher-exam"><i class="fas fa-book"></i><span>გამოცდა</span></a>
        <a href="/teacher/teacher-question"><i class="fas fa-sort-numeric-up"></i><span>შეკითხვები</span></a>
    </div>
    <!--sidebar end-->
    <!--content start-->
    <div class="content">
        <!-- {% block content %} -->
        <!-- {% endblock content %} -->
        <!-- {% include "quiz/footer.html" %} -->
        <div class="container">
            <div class="row mt-3">
                <!-- {% for subject in total_subjects %} -->
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card bg-c-blue order-card rounded border-0">
                        <div class="card-block">
                            <h6 class="m-b-20">საგანი </h6>
                            <h4 class="text-right">
                                <i class="fas fa-book me-1"></i>
                                <span>
                                    <!-- {{subject}} --> საგანი
                                </span>
                            </h4>
                            <h6 class="">
                                შეკითხვა:
                                <!-- {{subject.question_number}} -->
                            </h6>
                            <h6 class="">
                                მაქსიმალური ქულა:
                                <!-- {{subject.total_marks}} -->
                            </h6>


                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card bg-c-green order-card rounded border-0">
                        <div class="card-block">
                            <h6 class="m-b-20">საგანი </h6>
                            <h4 class="text-right">
                                <i class="fas fa-book me-1"></i>
                                <span>
                                    <!-- {{subject}} --> საგანი
                                </span>
                            </h4>
                            <h6 class="">
                                შეკითხვა:
                                <!-- {{subject.question_number}} -->
                            </h6>
                            <h6 class="">
                                მაქსიმალური ქულა:
                                <!-- {{subject.total_marks}} -->
                            </h6>


                        </div>
                    </div>
                </div>
                <!-- {% endfor %} -->
               
            </div>
        </div>
    </div>
    <!--content end-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</body>
</body>

</html>