@import '../../dist/css/bootstrap.min.css';
@import '//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800%7CRaleway:100,200,300,400,600,700,800,900%7CMontserrat:100,200,300,400,500,600,700,800,900');
.box-shadow {
    box-shadow: 0px 0px 18px -3px rgba(143, 143, 143, .50);
}
.card:hover {
    box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, .75);
}
.box-shadow-dark {
    box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .25);
}
body {
    /* background-color: yellow; */
    font-family: 'Open Sans', Arial, Verdana;
}
.text-card-custom-color{
    color: #343148;
}

.font-weight-bolder {
    font-weight: 900;
}
.display-1, .display-2, .display-3, .display-4 {
    font-weight: 900;
}
.heading-big {
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0.15rem 0;
    line-height: 1.2;
    font-size: 2rem;
    transition: color 0.5s ease-in, border-color 0.5s ease-in-out;
}
.heading-big-square {
    padding: 1rem 1rem;
    border: 10px solid red;
    margin: 0.5rem auto 1rem auto;
}
.heading-big:hover {
    color: #f90;
    border-color: #f90;
}
.news-title-fs{
    font-size: 40px;
}
.card {
    transition: 0.5s ease;
    border-radius: 0;
    transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);
    opacity: 0.9;
}
.card-header {
    border-radius: 0;
}
.card-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card-header, .card-footer {
    transition: 0.5s ease;
}
.card:hover {
    border-color: #343148;
    transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.card:hover .card-header, .card:hover .card-footer {
    color: #ba8b00;
    border-color: #ffc107;
}
.card:hover .promotion-promo {
    transform: scale(1.175) translateY(2.5px);
    transform-origin: left center;
}
.card:hover .promotion-price {
    transform: translate(2.5px, 17.5px) scale(1.15);
    transform-origin: center right;
}
.card-payment{
    background-image: url(/assets/images/payment.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px !important;
}
.card-register{
    background-image: url(/assets/images/register.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px !important;
}
.card-subjects{
    background-image: url(/assets/images/subjects.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px !important;
}
.card-body {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card .btn {
    font-weight: bold;
    text-transform: uppercase;
}
.promotion-promo {
    font-weight: 700;
    font-size: 1.15rem;
    color: #ffc107;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    transition: 0.25s linear;
}
.promotion-price {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ffc107;
    width: 92px;
    height: 92px;
    padding-bottom: 0rem;
    padding-top: 1.25rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    border-radius: 5rem;
    color: #fff;
    z-index: -1;
    transform: translate(5px, 27.5px) rotate(-9deg);
    border: 1px dashed #fff;
    transition: 0.25s linear;
    line-height: 1.15;
}
.promotion-price-desc {
    padding: 0;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 0.9rem;
    display: block;
}
.promotion-price-text {
    padding: 0;
    margin: 0 auto;
    font-weight: 900;
}
.card-animate {
    counter-reset: section;
}
.card-animate .card-body:before {
    transition: 0.5s ease;
    counter-increment: section;
    content: "" counter(section) "";
    display: block;
    font-size: 15rem;
    font-weight: 900;
    position: absolute;
    bottom: 5rem;
    line-height: 0;
    left: -0.85rem;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, .10);
    z-index: 0;
}
.card-animate .card:hover .card-body:before {
    transform: translate(10px, -10px);
}
.card-animate .card-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-animate .card-title {
    font-weight: 900;
    text-transform: uppercase;
}







/* main slider */
  input[type="radio"] {
    display: none;
  }
  .js-slider {
    position: relative;
    /* max-width: 100%; */
    width: 100%;
    height: 50vh;
    margin: 0 auto;
  }
  .js-slider_item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    opacity: 0;
    visibility: hidden;
    transform-origin: right center;
    transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
    transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  }
  #s-1:checked ~ .js-slider .js-slider_item.img-1,
  #s-2:checked ~ .js-slider .js-slider_item.img-2,
  #s-3:checked ~ .js-slider .js-slider_item.img-3 {
    opacity: 1;
    visibility: visible;
    transform-origin: left center;
    transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
  }
  .js-slider_img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .c-img-w-full {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
  }
  .c-img-h-full {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
  }
  figcaption {
    display: block;
  }
  .wo-h3 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e60012;
  }
  .c-label {
    display: inline-block;
    color: #eee;
    background-color: rgba(139,0,10,0.9);
    line-height: 1;
    padding: 0.5em 0.9em;
    margin-right: 0.5em;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .view-sm {
    display: none;
  }
  .js-slider_nav {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translate3d(0, -50%, 0);
  }
  .js-slider_nav_item.prev {
    left: 0;
  }
  .js-slider_nav_item.next {
    right: 0;
    transform: rotateY(180deg);
  }
  .js-slider_nav_item {
    position: absolute;
    display: none;
    width: 4rem;
    height: 4rem;
    border: 1px solid #343148;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .js-slider_nav_item:before {
    content: "";
    display: block;
    position: absolute;
    left: 1rem;
    top: 55%;
    width: 1rem;
    height: 1px;
    background-color: #343148;
    transform-origin: left bottom;
    transform: translate3d(0, -50%, 0) rotate(-45deg);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  /* #343148     dark*/
/* #d5ad36     orange*/ 
  .js-slider_nav_item:before:hover {
     /* transform: translate3d(-30%, 0, 0); */
  }
  .js-slider_nav_item.next:hover {
     /* transform: rotateY(180deg) translate3d(-30%, 0, 0); */

  }
  .js-slider_nav_item:hover:before {
    transform: translate3d(0, -50%, 0) rotate(-30deg);
  }
  .js-slider_nav_item:after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 2rem;
    height: 1px;
    background-color: #e60012;
    transform: translate3d(-50%, -50%, 0);
  }
  #s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
  #s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
  #s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
    display: block;
  }
  .js-slider_indicator {
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    text-align: center;
  }
  .js-slider-indi {
    position: relative;
    display: inline-block;
    padding: 2rem;
    cursor: pointer;
  }
  .js-slider-indi:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: #e60012;
    transform: translate3d(-50%, -50%, 0);
  }
  .js-slider-indi:hover:after {
    transform: translate3d(-50%, -50%, 0) scale(1.5);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
  #s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
  #s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
    transform: translate3d(-50%, -50%, 0) scale(2.5);
  }

































/* payment-page */
.credo-color{
    color: #ea4b37;
}
/* phone opt */
.custom-height{
    height: 100vh;
}
.sms-auth-input-props{
    width: 50px;
    height: 70px;
    background-color: #5151cc;
}
.center-item-width{
    width: 50px;
}
.bg-sms-auth-cover{
    background-color: #0f0f1a;
    background-image: url(../../images/stars_background_verify.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* students login */
.auth-form-dimensions{
    max-width: 430px;
  }
  Chrome, Safari, Edge, Opera
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }


/* for index page */
.ff-custom{
    font-family: "BPG Arial Caps", 'sans-serif';
}
.main_back{
    background-image: url(../../images/backgound-v1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .news-card-section{

} */

/* footer */
footer{
margin-top: 135px;
}
.footer-logo{
    width: 60px;
}

.logo-hover:hover{
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}
.logo-social:hover{
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}
/* social icon colors */
.text-fb{
    color: #343148;;
}
.text-fb:hover{
    color: #4267B2 !important;
    /* background-color: #fff; */
    /* padding: 2px; */
}
.text-you:hover{
    color: #FF0000 !important;
}
.text-insta:hover{
    color: #E1306C !important;
}

.nav-links-hover:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    
}

/* contactus */
.contactus-section{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contactus-input-width{
    max-width: 400px;
    width: 50%;
}
.send-feedback-button{
    width: 130px;
}

/* about page */
.about-section{
    margin-top: 76px;
}
.about-cover-img-width{
    max-width: 500px;
    width: 100%;
}
.stars-bg-color-header{
    background-color: #343148;
}
.stars-bg-footer-color{
    background-color: #343148;
}
.stars-color{
    color: #343148 !important;
}
.stars-bg-dark{
    background-color: #343148;
}
.stars-bg-orange{
    background-color: #d5ad36 !important;
}
.stars-color-2{
    color: #d5ad36;
}
.stars-btn-large{
    line-height: 2;
    font-weight: bold;
}
.stars-opa{
    opacity: 0.95;
}
/* #343148     dark*/
/* #d5ad36     orange*/ 

.questions-back{
    background-image: url(/assets/images/FAQ.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 960px;
    
}
.star-question-pos{
    position: absolute;
    right: 12%;
}

/* responsive for slider */
@media only screen and (max-width: 540px){
    .c-img-w-full{
        height: 100% !important;
        width: auto !important;
    }
}