@import '../../dist/css/bootstrap.min.css';
@import '//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css';
@import './studentlogin.css';
@import './phone_otp.css';
@import './footer.css';








/* for index page */
.ff-custom{
    font-family: "BPG Arial Caps", 'sans-serif';
}
.main_back{
    background-image: url(../../images/covers/stars_main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

